<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<script src="./vue.min.js"></script>
	<link rel="preconnect" href="https://fonts.gstatic.com">
	<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&family=Roboto&display=swap" rel="stylesheet"> 
	<link rel="stylesheet" href="./styles/style.css">
	<title>Techno</title>
</head>
<body>
	<div id="app">

    <section class="modal" v-if="productModal">
      <div class="modal-container">
        <div class="modal-img">
          <img :src="selectedProduct.img" :alt="selectedProduct.name"></img>
        </div>
        <div class="modal-info">
          <span class="modal-price-item">{{selectedProduct.price | formatPriceValue}}</span>
          <h2 class="modal-title-item">{{selectedProduct.name}}</h2>
          <p>{{selectedProduct.description}}</p>
          <button class="modal-btn">Adicionar Item</button>
        </div>
        <div class="modal-rating">
          <h2 class="modal-rating-title">Avaliações</h2>
          <ul>
            <li v-for="rating in selectedProduct.reviews" class="modal-rating-item">
              <p class="rating-description">{{rating.description}}</p>
              <p class="rating-user">{{rating.name}} | {{rating.star}} estrelas</p>
            </li>
          </ul>
        </div>
      </div>
    </section>

		<section class="product-list">
			<div v-for="product in products" @click="getProductById(product.name)" :key="product.id" class="product-item">
				<img :src="product.img" :alt="product.nome" class="product-img"/>
				<div class="product-info">
					<span class="product-price">{{product.price | formatPriceValue}}</span>
					<h2 class="product-name">{{product.name}}</h2>
				</div>
			</div>
		</section>
	</div>
	<script src="./app.js"></script>
</body>
</html>